<footer>
  <section>
  <div class="sub">
       <h2>NOUS CONTACTER</h2>
<form action="/footer.php" method="post">
  <input type="text" name="nom" placeholder="Nom" pattern="[A-Za-z]*" title="Ce champ ne doit contenir que des lettres" required><br>
  <input type="email" placeholder="Votre eMail" name ="email" id="mail2" required><br>
   <input type="text" placeholder="Sujet" name ="sujet" id="mail" required><br>
  <input name="msg" type="text" placeholder="Commentaires..." required><br>
   <input type="submit" value="Envoyer">
</form>
  </div>
  <div class="sub4">
      <h2>NAVIGUER</h2>
  <ul>
       <li><a routerLink="Allergens">Allergens</a></li>
      <li><a routerLink="Brands"> Brands</a></li>
       <li><a routerLink="Ingredients">Ingredients</a></li>
       <li><a routerLink="Contacts">Contacts</a></li>
  </ul>

  </div>
    <div class="sub3">
  <h2>OPEN FOOD FACT</h2>
  <p>    Quai Albert 1er <br> 98000 - Monaco  <br> Tél : +33 6 20 20 20 20 <br> openfoodfacts@gmail.com</p>

  </div>
  <p id="p">Created by Mme KLEIN, Mme MANZONI, Mme LIAUTAUD</p>
</section>
</footer>
