<!doctype html>
<html>
   <head>
        <title>Open Food Facts</title>
        <meta charset="UTF-8">
        <meta name="author" content="">
        <meta name="description" content="Découvrez OpenFoodFacts">
        <link href="body.component.css" rel="stylesheet" type="text/css">
    </head>
    <body>
    <section>
      <h1> <span class="red">Ope</span><span class="yell">n Foo</span><span class="green">d Fac</span><span class="blue">ts</span> </h1>

        <div>
            <div class="contener_slideshow">
		<div class="contener_slide">
                	<div class="slid_1"><img [src]="getLogoURL3()" /></div>
                  <div class="slid_2"><img [src]="getLogoURL3()" /></div>
                  <div class="slid_3"><img [src]="getLogoURL3()" /></div>
		</div>
            </div>
	</div>


       <div id="div2">
       <article>
           <h2> Les aliments</h2><h3> Un peu de culture</h3>
           <p> Dans toute l'Union européenne1, la notion d'aliment désigne toute substance ou produit,
             transformé, partiellement transformé ou non transformé, destiné à être ingéré ou raisonnablement
             susceptible d’être ingéré par l’être humain. Ce terme recouvre les boissons, les gommes à mâcher
             et toute substance, y compris l’eau, intégrée intentionnellement dans les denrées alimentaires au
             cours de leur fabrication, de leur préparation ou de leur traitement. Il inclut l’eau au point de
             conformité défini à l’article 6 de la directive 98/83/CE2.

            Le terme « denrée alimentaire » n'inclut pas en Europe :</p>
            <ul>
            <li>les aliments pour animaux ;</li>
            <li>les animaux vivants (sauf s'ils sont préparés en vue de la consommation humaine ; huîtres par exemple) ;</li>
            <li>les plantes avant leur récolte ;</li>
            <li>les médicaments (au sens des directives 65/65/CEE et 92/73/CEE du Conseil) ;</li>
            <li>les cosmétiques au sens de la directive 76/768/CEE du Conseil ;</li>
            <li>le tabac et les produits du tabac (au sens de la directive 89/622/CEE du Conseil) ;</li>
            <li>les stupéfiants et les substances psychotropes (au sens de la Convention unique des Nations unies sur les substances psychotropes de 1971) ;</li>
            <li>les résidus et contaminants susceptibles d'être trouvés dans la nourriture.</li></ul>
            <p> En Europe toujours, les « denrées alimentaires génétiquement modifiées » sont « les denrées alimentaires contenant des OGM, consistant en de tels
            organismes ou produites à partir d'OGM »3 et « on entend par «aliments pour animaux génétiquement modifiés», les aliments contenant des OGM, consistant
            en de tels organismes ou produits à partir d'OGM, pour animaux ». Elles sont soumises à une traçabilité et un étiquetage spécifique4.
              SOURCE WIKIPEDIA

          </p>
            </article>
       </div>
</section>
</body>
</html>
